<% layout("/layouts/boilerplate")%>

    <div class="row mt-3">
        <div class="col-8 offset-2">

            <h2>Edit Your Listing</h2>

            <form method="post" action="/listings/<%=listing.id%>?_method=put" novalidate class="needs-validation"
                enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-lable">Title</label>
                    <input type="text" name="listing[title]" value="<%=listing.title%>" required class="form-control">
                    <div class="valid-feedback">
                        Looks Good
                    </div>
                    <div class="invalid-feedback">
                        Please Enter Title.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-lable">Description</label>
                    <textarea name="listing[description]" required
                        class="form-control"><%=listing.description%></textarea>
                    <div class="invalid-feedback">
                        Please Enter Description.
                    </div>
                </div>

                <div class="mb-3">
                    Original listing image<br>
                    <img src="<%= originalImageUrl %>" class="col-4">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-lable">Upload New Image</label>
                    <input type="file" name="listing[image]" class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-lable">Price</label>
                        <input type="number" name="listing[price]" value="<%=listing.price%>" required
                            class="form-control">
                        <div class="invalid-feedback">
                            Please Select Valid Price.
                        </div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-lable">Country</label>
                        <input type="text" name="listing[country]" value="<%=listing.country%>" required
                            class="form-control">
                        <div class="invalid-feedback">
                            Please Enter Country.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-lable">Location</label>
                    <input type="text" name="listing[location]" value="<%=listing.location%>" required
                        class="form-control">
                    <div class="invalid-feedback">
                        Please Enter Location.
                    </div>
                </div>

                <button class="btn btn-dark edit-btn mt-3 mb-3">Edit</button>
            </form>
        </div>
    </div>